<strong>Olá, {{student.name}}</strong>
<p>Seja bem vindo à Gympoint, confira os detalhes de sua matricula abaixo:</p>
<p>
  <strong>Plano: </strong>{{plan.title}} <br>
  <strong>Valor: </strong>R${{plan.price}} <br>
  <strong>Inicio: </strong>{{start_date}} <br>
  <strong>Fim: </strong>{{end_date}} <br>
</p>
